#footer{
    background-color: black;
color: #999;
}
iframe{
   
    width: 100%;
    height: 300px;
    border: none;
    
}
#list-arrow{
padding: 0;
}
ul{
    list-style:none ;
    margin: 0;
    padding: 0;
}
li{
    border-bottom: 1px solid #999;
    border-style: solid color  #999;
   
}
 li a {
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    color: #999;
    font-family: arial,sans-serif;
    transition:  color 0.3 ease,background-color 0.3s ease;

}
 li a :hover{
    background-color: orangered;
    color: #fff;
}
.menu{
    width: 200px;
    background-color: black;
    border-right: 1px solid #ddd;
    text-align: center;
    color: white;
}
li a ::before{
    content: '\203A';
    color: #fff;
    font-size: 14px;
    margin-right: 8px;
}
.map-container
{
    width: 200px;
    background-color: black;
    border-right: 1px solid #ddd;
    text-align: center;
    color: white;
    
}

.localisation h3{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-left: 3px solid #ddd;
    padding-left: 10px;
    margin-bottom: 15px;
}
.coordonées{
    width: 200px;
    background-color: black;
    border-right: 1px solid #ddd;
    text-align: center;
    color: white;
    
}
    .fin{
        text-align: center;
        color: #999;
    }
#footer{
    display: flex ;
    justify-content: center;
    align-items: center;
    
}


  
